body {
}
#menu {
    padding: 16px;   
    background-color: orange;
    box-sizing: border-box;
}
#menu a {
    position: relative;
    display: inline-block;
    width: 21vw;
    font-size: 2.5em;
    font-weight: bold;
}
#cards_titre, #menu, #cards_container, #retour {
    position: relative;
    width: 90vw;
    margin: 32px auto;
}
.card {
    position: relative;
    display: inline-block;
    border: 4px solid orange;
    border-radius: 16px;
    vertical-align: top;
    width: 45%;
    height: 30vh;
    margin: 16px;
    overflow: auto;
}
.card  .titre {
    width: 100%;
    padding: 0 16px;
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    height: 24px;
}
.card img {
    height: calc(20vh - 24px);
    overflow: auto;
}
.card .description {
    background-color: orange;
    border-radius: 8px;
    height: 10vh;
    font-size: 2.5em;
}
#retour {
    font-size: 3em;
    font-weight: bold;
}